body{
    overflow-x: hidden;
    font-family: adobe-garamond-pro, serif;
    margin: 0%;
    padding: 0%;
   }


   /* Adobe Garamond Pro Bold

   font-family: adobe-garamond-pro, serif;
   
   font-weight: 700;
   
   font-style: normal;
   
   
   Adobe Garamond Pro Bold Italic
   
   font-family: adobe-garamond-pro, serif;
   
   font-weight: 700;
   
   font-style: italic;
   
   
   Adobe Garamond Pro Italic
   
   font-family: adobe-garamond-pro, serif;
   
   font-weight: 400;
   
   font-style: italic;
   
   
   Adobe Garamond Pro Regular
   
   font-family: adobe-garamond-pro, serif;
   
   font-weight: 400;
   
   font-style: normal; */


.banner-text h1{
    font-size: 120px;
    font-weight: 700;
}
.banner-text h2{
    letter-spacing: 20px;
    font-weight: 700;
}
.banner-text p{
    font-weight: 400;
    font-size: 18px;    
}

.btn-sign{
    width: 150px;
    height: 40px;

}

.btn-custom {
    width:200px;
    /* padding:15px; */
    height: 50px;
}
.scroll a fas{
    height: 10px;
    width: 10px;
}
.scroll a{
    text-decoration: none;
    color:inherit;
}